<!DOCTYPE html>

<html>

  <head>
    <title>File Metadata</title>      
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class="container">
      
      <h2>File Metadata Microservice</h2>
      
        <p class="text">
          Upload a file of your choice using the form below. The API will respond with a JSON Object with the file name with which it was stored 
          and its size.
          After submitting you can find the API's response below the form.
        </p>

        <h3>Upload a File:</h3>
          <div class="view">
            <h4 id="output"></h4>
            <form id="upload-form" enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
              <input id="inputfield" type="file" name="upfile"> <!-- User story 2 - The from file input field has the "name" attribute set to "upfile". We rely on this in testing. -->
              <input id="button" type="submit" value="Upload">
            </form>
          </div>
      
        <code id="json-result"></code>
      
    </div>
      
  </body>
  
  <script>
    let result = document.querySelector('#json-result');
    result.style.display = "none";
    
    document.querySelector('#upload-form').addEventListener('submit', e => {
      e.preventDefault();
      const formData = new FormData();
      let file = document.querySelector('#inputfield').files[0];
      formData.append('upfile', file);
      
      fetch('/api/fileanalyse', {
        method: 'POST',
        body: formData
      })
      .then(res => res.json().then(data => {
        result.style.display = "";
        result.innerText = JSON.stringify(data);
      }))
    });
  </script>
  
</html>
