body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #222;
	background-color: #ac4250;
	line-height: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 750px;
  margin-top: 2em;
	padding: 1em 3em;
  border: 2px black solid;
  background: #f3d4ac;
  text-align: center;
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.text{
  text-align: justify;
}

h2 {
  margin-top: -.1em;
}

code {
  font-family: monospace;
  padding: .15em;
  color: black;
  background-color: #fff;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputfield {
  padding: .5em;
  min-width: 300px;
  border: 1px black dotted;
}

#button {
  font-weight: bold;
  color: white;
  padding: .25em;
  margin-top: 1em;
  width: 70px;
  background-color: #a4303f;
  border: 1px #a4303f solid;
  border-radius: 5px;
  cursor: pointer;
}

